table,th,td{
  border: 1px solid black
}

tbody>tr>:nth-child(1){
    background-color: rgba(0,200,0,0.1);
    /* font-family: monospace; */
    font-weight: bold;
}

#total{
    background-color: rgba(0,200,0,0.3);
    color: rgba(200,0,0,0.7);
    font-family: 'Comic Sans MS';
}
